@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://cdn.rawgit.com/xcatliu/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css");

.v-data-table {
  tbody {
    tr {
      cursor: pointer;
    }
    tr:not(.v-data-table__mobile-table-row) {
      height: 80px;
    }
    .v-data-table__mobile-row:nth-child(1) .v-data-table__mobile-row__header,
    .v-data-table__mobile-row:nth-child(2) .v-data-table__mobile-row__header {
      display: none;
    }
    .v-data-table__mobile-row:nth-child(2) .v-data-table__mobile-row__cell {
      text-align: left;
      margin: 8px;
    }
  }
  .v-data-footer {
    padding-right: 48px;

    &__select {
      visibility: hidden;
    }
  }
}

.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link {
  cursor: pointer;
  transition: opacity 200ms ease;
}
.link:hover {
  opacity: 0.7;
}

.CodeMirror {
  height: 500px;
}

.v-progress-circular .v-progress-circular__overlay {
  transition: none;
}